<h1>Profil de l'utilisateur</h1>

<m-tabs>
    <ul class="tab-navigation">
        <li>Mes demandes de devis</li>
        <li>Mes favoris</li>
        <li class="active">Mes Paramètres</li>
        <li><a href="https://migrospro.ch" target="_blank">Mes Tickets</a></li>
    </ul>

    <!-- QUOTE REQUESTS -->
    <section class="tab-content">
        <p>Grâce à votre historique de demandes de devis, consultez vos anciennes demandes, complétez une demande que vous n'avez pas terminée, ou dupliquez une demande passée.</p>

        <a-migrospro-card-heading title="Brouillon"></a-migrospro-card-heading>

        <m-migrospro-card-order
            date="01.01.2023"
            title="Test Bestell-Liste 123456"
            state="Brouillon"
            edit="Modifier"
        ></m-migrospro-card-order>

        <m-migrospro-card-order
            date="01.01.2023"
            title="Test Bestell-Liste 123456"
            state="Brouillon"
            edit="Modifier"
        ></m-migrospro-card-order>

        <m-migrospro-card-order
            date="01.01.2023"
            title="Test Bestell-Liste 123456"
            state="Brouillon"
            edit="Modifier"
        ></m-migrospro-card-order>

        <a-migrospro-card-heading title="Envoyé"></a-migrospro-card-heading>

        <m-migrospro-card-order
            date="01.01.2023"
            title="Test Bestell-Liste 123456"
            state="Envoyé"
            download="Télécharger"
            duplicate="Dupliquer"
        ></m-migrospro-card-order>

        <m-migrospro-card-order
            date="01.01.2023"
            title="Test Bestell-Liste 123456"
            name="Max Mustermann"
            state="Envoyé"
            download="Télécharger"
            duplicate="Dupliquer"
        ></m-migrospro-card-order>

        <m-migrospro-card-order
            date="01.01.2023"
            title="Test Bestell-Liste 123456"
            state="Envoyé"
            download="Télécharger"
            duplicate="Dupliquer"
        ></m-migrospro-card-order>

        <m-migrospro-card-order
            date="01.01.2023"
            title="Test Bestell-Liste 123456"
            name="Anna Musterfrau"
            state="Envoyé"
            download="Télécharger"
            duplicate="Dupliquer"
        ></m-migrospro-card-order>

        <m-migrospro-card-order
            date="01.01.2023"
            title="Test Bestell-Liste 123456"
            name="Max Mustermann"
            state="Envoyé"
            download="Télécharger"
            duplicate="Dupliquer"
        ></m-migrospro-card-order>

        <a-migrospro-spacer></a-migrospro-spacer>

    </section>

    <!-- FAVORITES -->
    <section class="tab-content">
        <h2>Favoris</h2>
    </section>

    <!-- SETTINGS -->
    <section class="tab-content active">
        <o-grid namespace="grid-2colums2rows-" first-container-vertical first-column-with="68%">
            <div class="content">
                Content
            </div>
            <div class="sidebar">
                <a-migrospro-sidebar>
                    <h3>Informations sur votre compte</h3>
                    <p><strong>Nr de compte client</strong></p>
                    <p>9900000000</p>
                    <p><strong>Raison sociale</strong></p>
                    <p>FCM (Migros-Genossenschafts-Bund)</p>
                    <p><strong>Secteur</strong></p>
                    <p>Activités spécialisées, scientifiques, techniques</p>
                    <p><strong>Adresse</strong></p>
                    <p>Placeholder 123, Genève - 1200</p>
                    <p><strong>Type</strong></p>
                    <p>Enterprise</p>
                    <p><strong>Nr IDE (Registre du Commerce)</strong></p>
                    <p>CHE1111111111</p>
                    <p><strong>Taille</strong></p>
                    <p>+ de 500</p>
                </a-migrospro-sidebar>
            </div>
        </o-grid>
        <a-migrospro-spacer></a-migrospro-spacer>
    </section>
</m-tabs>
