<h1>Profil de l'utilisateur</h1>

<m-tabs>
    <ul class="tab-navigation">
        <li class="active">Mes demandes de devis</li>
        <!-- <li>Mes favoris</li> -->
        <li>Mes Paramètres</li>
        <li><a href="https://migrospro.ch" target="_blank">Mes Tickets</a></li>
    </ul>

    <!-- QUOTE REQUESTS -->
    <section class="tab-content active">
        <p>Grâce à votre historique de demandes de devis, consultez vos anciennes demandes, complétez une demande que vous n'avez pas terminée, ou dupliquez une demande passée.</p>

        <a-migrospro-card-heading title="Brouillon"></a-migrospro-card-heading>

        <m-migrospro-card-order
            date="01.01.2023"
            title="Test Bestell-Liste 123456"
            category="Brouillon"
        >
            <div slot="action">
                <a-button namespace="button-action-" href="#">
                    Edit
                    <svg class="icon-left" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 3.99998H3C2.46957 3.99998 1.96086 4.2107 1.58579 4.58577C1.21071 4.96084 1 5.46955 1 5.99998V20C1 20.5304 1.21071 21.0391 1.58579 21.4142C1.96086 21.7893 2.46957 22 3 22H17C17.5304 22 18.0391 21.7893 18.4142 21.4142C18.7893 21.0391 19 20.5304 19 20V13M17.5 2.49998C17.8978 2.10216 18.4374 1.87866 19 1.87866C19.5626 1.87866 20.1022 2.10216 20.5 2.49998C20.8978 2.89781 21.1213 3.43737 21.1213 3.99998C21.1213 4.56259 20.8978 5.10216 20.5 5.49998L11 15L7 16L8 12L17.5 2.49998Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a-button>
                <a-button namespace="button-action-" href="#">
                    Download
                    <svg class="icon-left" width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 1.00037H3C2.46957 1.00037 1.96086 1.21108 1.58579 1.58615C1.21071 1.96123 1 2.46993 1 3.00037V19.0004C1 19.5308 1.21071 20.0395 1.58579 20.4146C1.96086 20.7897 2.46957 21.0004 3 21.0004H15C15.5304 21.0004 16.0391 20.7897 16.4142 20.4146C16.7893 20.0395 17 19.5308 17 19.0004V7.00037M11 1.00037L17 7.00037M11 1.00037V7.00037H17M13 12.0004H5M13 16.0004H5M7 8.00037H5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a-button>
                <a-button namespace="button-action-" href="#">
                    Duplicate
                    <svg class="icon-left" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 14.0004H3C2.46957 14.0004 1.96086 13.7897 1.58579 13.4146C1.21071 13.0395 1 12.5308 1 12.0004V3.00037C1 2.46993 1.21071 1.96123 1.58579 1.58615C1.96086 1.21108 2.46957 1.00037 3 1.00037H12C12.5304 1.00037 13.0391 1.21108 13.4142 1.58615C13.7893 1.96123 14 2.46993 14 3.00037V4.00037M10 8.00037H19C20.1046 8.00037 21 8.8958 21 10.0004V19.0004C21 20.1049 20.1046 21.0004 19 21.0004H10C8.89543 21.0004 8 20.1049 8 19.0004V10.0004C8 8.8958 8.89543 8.00037 10 8.00037Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a-button>
            </div>
        </m-migrospro-card-order>

        <m-migrospro-card-order
            date="01.01.2023"
            title="Test Bestell-Liste 123456"
            category="Brouillon"
            editText="Modifier"
            editUrl="https://migros.ch"
        ></m-migrospro-card-order>

        <m-migrospro-card-order
            date="01.01.2023"
            title="Test Bestell-Liste 123456"
            category="Brouillon"
            editText="Modifier"
            editUrl="https://migros.ch"
        ></m-migrospro-card-order>

        <a-migrospro-card-heading title="Envoyé"></a-migrospro-card-heading>

        <m-migrospro-card-order
            date="01.01.2023"
            title="Test Bestell-Liste 123456"
            category="Envoyé"
            downloadText="Télécharger"
            downloadUrl="https://migros.ch"
            duplicateText="Dupliquer"
            duplicateUrl="https://migros.ch"
        ></m-migrospro-card-order>

        <m-migrospro-card-order
            date="01.01.2023"
            title="Test Bestell-Liste 123456"
            name="Max Mustermann"
            category="Envoyé"
            downloadText="Télécharger"
            downloadUrl="https://migros.ch"
            duplicateText="Dupliquer"
            duplicateUrl="https://migros.ch"
        ></m-migrospro-card-order>

        <m-migrospro-card-order
            date="01.01.2023"
            title="Test Bestell-Liste 123456"
            category="Envoyé"
            downloadText="Télécharger"
            downloadUrl="https://migros.ch"
            duplicateText="Dupliquer"
            duplicateUrl="https://migros.ch"
        ></m-migrospro-card-order>

        <m-migrospro-card-order
            date="01.01.2023"
            title="Test Bestell-Liste 123456"
            name="Anna Musterfrau"
            category="Envoyé"
            downloadText="Télécharger"
            downloadUrl="https://migros.ch"
            duplicateText="Dupliquer"
            duplicateUrl="https://migros.ch"
        ></m-migrospro-card-order>

        <m-migrospro-card-order
            date="01.01.2023"
            title="Test Bestell-Liste 123456"
            name="Max Mustermann"
            category="Envoyé"
            downloadText="Télécharger"
            downloadUrl="https://migros.ch"
            duplicateText="Dupliquer"
            duplicateUrl="https://migros.ch"
        ></m-migrospro-card-order>

        <a-migrospro-spacer></a-migrospro-spacer>

    </section>

    <!-- FAVORITES -->
    <!-- <section class="tab-content">
        <h2>Favoris</h2>
    </section> -->

    <!-- SETTINGS -->
    <section class="tab-content">
        <o-migrospro-request-form show-password-text="afficher" hide-password-text="cacher">
            <div class="content">
                <section>
                    <m-form role="form">
                        <form action="/settings" enctype="multipart/form-data" method="post" role="form">
                            <section class="section">
                                <div class="validation-errors">
                                    <ul>
                                        <li>Error - Email anton.meister@mgb.ch is already registered</li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="Data_CivilityId">Civillité *</label>
                                    <div class="form-radio-group">
                                        <label>
                                            <input id="Data_CivilityId" name="Data.CivilityId" required="" type="radio" value="1"> M 
                                        </label>
                                        <label> 
                                            <input id="Data_CivilityId_Mme" name="Data.CivilityId" type="radio" value="2"> Mme 
                                        </label>
                                        <label> 
                                            <input id="Data_CivilityId_Autre" name="Data.CivilityId" type="radio" value="3"> Autre 
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="Data_FirstName">Prénom *</label>
                                    <div>
                                        <input class="form-control" id="Data_FirstName" name="Data.FirstName" type="text" value="" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="Data_LastName">Nom *</label>
                                    <div>
                                        <input class="form-control" id="Data_LastName" name="Data.LastName" type="text" value="" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="Data_Email">E-mail professionnel *</label>
                                    <div>
                                        <input class="form-control" id="Data_Email" name="Data.Email" type="email" value="" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="Data_MobileNumber">Mobile</label>
                                    <div>
                                        <input class="form-control" id="Data_MobileNumber" name="Data.MobileNumber" type="tel">
                                    </div>
                                </div>
                                <h3>Modifier votre mot de passe</h3>
                                <div class="form-group">
                                    <label class="control-label" for="Data_PasswordCurrent">Mot de passe actuel</label>
                                    <div>
                                        <input class="form-control" id="Data_PasswordCurrent" name="Data.PasswordCurrent" type="password" value="">
                                        <span>afficher</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="Data_PasswordNew">Mot de passe</label>
                                    <div>
                                        <input class="form-control" id="Data_PasswordNew" name="Data.PasswordNew" type="password" value="">
                                        <span>afficher</span>
                                    </div>
                                    <div>Min. 8 caractères, y compris les lettres, chiffres et caractères spéciaux</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="Data_PasswordConfirm">Confirmer le mot de passe</label>
                                    <div>
                                        <input class="form-control" id="Data_PasswordConfirm" name="Data.PasswordConfirm" type="password" value="">
                                        <span>afficher</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input class="form-control" id="Data_TwoFactor" name="Data.TwoFactor" type="checkbox"> 
                                        Activer l'authentification à 2 facteurs (E-Mail)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button type="submit">Enregistrer les modifications</button>
                                </div>
                            </section>
                        </form>
                    </m-form>
                </section>
            </div>
            <div class="sidebar">
                <a-migrospro-sidebar>
                    <h3>Informations sur votre compte</h3>
                    <p><strong>Nr de compte client</strong></p>
                    <p>9900000000</p>
                    <p><strong>Raison sociale</strong></p>
                    <p>FCM (Migros-Genossenschafts-Bund)</p>
                    <p><strong>Secteur</strong></p>
                    <p>Activités spécialisées, scientifiques, techniques</p>
                    <p><strong>Adresse</strong></p>
                    <p>Placeholder 123, Genève - 1200</p>
                    <p><strong>Type</strong></p>
                    <p>Enterprise</p>
                    <p><strong>Nr IDE (Registre du Commerce)</strong></p>
                    <p>CHE1111111111</p>
                    <p><strong>Taille</strong></p>
                    <p>+ de 500</p>
                </a-migrospro-sidebar>
            </div>
        </o-migrospro-request-form>
        <a-migrospro-spacer></a-migrospro-spacer>
    </section>
</m-tabs>
