<h1>Profil de l'utilisateur</h1>

<m-tabs>
    <ul class="tab-navigation">
        <li data-tab="quote-requets">Mes demandes de devis</li>
        <li data-tab="favorites">Mes favoris</li>
        <li data-tab="settings">Mes paramètres</li>
        <li><a href="https://migrospro.ch" target="_blank">Mes tickets</a></li>
    </ul>

    <!-- QUOTE REQUESTS -->
    <section class="tab-content">
        <p>Grâce à votre historique de demandes de devis, consultez vos anciennes demandes, complétez une demande que
            vous n'avez pas terminée, ou dupliquez une demande passée.</p>

        <a-migrospro-card-heading title="Brouillon"></a-migrospro-card-heading>

        <m-migrospro-card-order date="01.01.2023" title="Test Bestell-Liste 123456" category="Brouillon">
            <div slot="action">
                <a-migrospro-button-toggle order-id="1234" is-active="false">
                    <a-migrospro-icon-shopping-basket></a-migrospro-icon-shopping-basket>
                </a-migrospro-button-toggle>
                <a-button namespace="button-action-" label="Modifier" href="#">
                    <a-icon-mdx class="icon-left" icon-name="Edit"></a-icon-mdx>
                </a-button>
                <a-button namespace="button-action-" label="Télécharger" href="#">
                    <a-icon-mdx class="icon-left" icon-name="FileText"></a-icon-mdx>
                </a-button>
                <a-button namespace="button-action-" label="Dupliquer" href="#">
                    <a-icon-mdx class="icon-left" icon-name="Copy"></a-icon-mdx>
                </a-button>
            </div>
        </m-migrospro-card-order>

        <m-migrospro-card-order date="01.01.2023" title="Test Bestell-Liste 123456" category="Brouillon">
            <div slot="action">
                <a-button namespace="button-action-" label="Modifier" href="#">
                    <a-icon-mdx class="icon-left" icon-name="Edit"></a-icon-mdx>
                </a-button>
            </div>
        </m-migrospro-card-order>

        <m-migrospro-card-order date="01.01.2023" title="Test Bestell-Liste 123456" category="Brouillon">
            <div slot="action">
                <a-button namespace="button-action-" label="Modifier" href="#">
                    <a-icon-mdx class="icon-left" icon-name="Edit"></a-icon-mdx>
                </a-button>
            </div>
        </m-migrospro-card-order>

        <a-migrospro-card-heading title="Envoyé"></a-migrospro-card-heading>

        <m-migrospro-card-order date="01.01.2023" title="Test Bestell-Liste 123456" category="Envoyé">
            <div slot="action">
                <a-button namespace="button-action-" label="Télécharger" href="#">
                    <a-icon-mdx class="icon-left" icon-name="FileText"></a-icon-mdx>
                </a-button>
                <a-button namespace="button-action-" label="Dupliquer" href="#">
                    <a-icon-mdx class="icon-left" icon-name="Copy"></a-icon-mdx>
                </a-button>
            </div>
        </m-migrospro-card-order>

        <m-migrospro-card-order date="01.01.2023" title="Test Bestell-Liste 123456" name="Max Mustermann"
            category="Envoyé">
            <div slot="action">
                <a-button namespace="button-action-" label="Télécharger" href="#">
                    <a-icon-mdx class="icon-left" icon-name="FileText"></a-icon-mdx>
                </a-button>
                <a-button namespace="button-action-" label="Dupliquer" href="#">
                    <a-icon-mdx class="icon-left" icon-name="Copy"></a-icon-mdx>
                </a-button>
            </div>
        </m-migrospro-card-order>

        <m-migrospro-card-order date="01.01.2023" title="Test Bestell-Liste 123456" category="Envoyé">
            <div slot="action">
                <a-button namespace="button-action-" label="Télécharger" href="#">
                    <a-icon-mdx class="icon-left" icon-name="FileText"></a-icon-mdx>
                </a-button>
                <a-button namespace="button-action-" label="Dupliquer" href="#">
                    <a-icon-mdx class="icon-left" icon-name="Copy"></a-icon-mdx>
                </a-button>
            </div>
        </m-migrospro-card-order>

        <m-migrospro-card-order date="01.01.2023" title="Test Bestell-Liste 123456" name="Anna Musterfrau"
            category="Envoyé">
            <div slot="action">
                <a-button namespace="button-action-" label="Télécharger" href="#">
                    <a-icon-mdx class="icon-left" icon-name="FileText"></a-icon-mdx>
                </a-button>
                <a-button namespace="button-action-" label="Dupliquer" href="#">
                    <a-icon-mdx class="icon-left" icon-name="Copy"></a-icon-mdx>
                </a-button>
            </div>
        </m-migrospro-card-order>

        <m-migrospro-card-order date="01.01.2023" title="Test Bestell-Liste 123456" name="Max Mustermann"
            category="Envoyé">
            <div slot="action">
                <a-button namespace="button-action-" label="Télécharger" href="#">
                    <a-icon-mdx class="icon-left" icon-name="FileText"></a-icon-mdx>
                </a-button>
                <a-button namespace="button-action-" label="Dupliquer" href="#">
                    <a-icon-mdx class="icon-left" icon-name="Copy"></a-icon-mdx>
                </a-button>
            </div>
        </m-migrospro-card-order>

        <a-migrospro-spacer></a-migrospro-spacer>

    </section>

    <!-- FAVORITES -->
    <section class="tab-content">
        <p>Conservez vos produits et services favoris pour les retrouver plus rapidement et les ajouter à vos demandes
            de devis.</p>

        <c-migrospro-favorites>
            <o-migrospro-favorites answer-event-name="list-favorites" request-event-name="request-list-favorites">
                <m-form role="form">
                    <div class="two-column-align-bottom">
                        <div>
                            <label for="devis">Mon devis</label>
                            <select id="devis" name="devis">
                                <option value="EMPTY" selected>Choisissez une option</option>
                                <option value="d1">Devis 1</option>
                                <option value="d2">Devis 2</option>
                                <option value="d3">Devis 3</option>
                            </select>
                        </div>
                        <div>
                            <a-button namespace="button-primary-">Ajouter au devis</a-button>
                        </div>
                    </div>
                    <div class="spacer">
                        <a-button namespace="button-secondary-">Tout sélectionner</a-button>
                    </div>
                </m-form>
            </o-migrospro-favorites>
        </c-migrospro-favorites>
    </section>

    <!-- SETTINGS -->
    <section class="tab-content">
        <o-migrospro-request-form show-password-text="afficher" hide-password-text="cacher"
            redirect-url="https://migrospro.ch">
            <div class="content">
                <section>
                    <m-form role="form">
                        <form enctype="multipart/form-data" method="post" role="form">
                            <section class="section">
                                <div class="validation-errors">
                                    <ul>
                                        <li>Error - Email anton.meister@mgb.ch is already registered</li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="Data_CivilityId">Civillité *</label>
                                    <div class="form-radio-group">
                                        <label>
                                            <input id="Data_CivilityId" name="Data.CivilityId" required="" type="radio"
                                                value="1"> M
                                        </label>
                                        <label>
                                            <input id="Data_CivilityId_Mme" name="Data.CivilityId" type="radio"
                                                value="2"> Mme
                                        </label>
                                        <label>
                                            <input id="Data_CivilityId_Autre" name="Data.CivilityId" type="radio"
                                                value="3"> Autre
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="Data_FirstName">Prénom *</label>
                                    <div>
                                        <input class="form-control" id="Data_FirstName" name="Data.FirstName"
                                            type="text" value="" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="Data_LastName">Nom *</label>
                                    <div>
                                        <input class="form-control" id="Data_LastName" name="Data.LastName" type="text"
                                            value="" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="Data_Email">E-mail professionnel *</label>
                                    <div>
                                        <input class="form-control" id="Data_Email" name="Data.Email" type="email"
                                            value="" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="Data_MobileNumber">Mobile</label>
                                    <div>
                                        <input class="form-control" id="Data_MobileNumber" name="Data.MobileNumber"
                                            type="tel">
                                    </div>
                                </div>
                                <h3>Modifier votre mot de passe</h3>
                                <div class="form-group">
                                    <label class="control-label" for="Data_PasswordCurrent">Mot de passe actuel</label>
                                    <div>
                                        <input class="form-control" id="Data_PasswordCurrent"
                                            name="Data.PasswordCurrent" type="password" value="">
                                        <span>afficher</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="Data_PasswordNew">Mot de passe</label>
                                    <div>
                                        <input class="form-control" id="Data_PasswordNew" name="Data.PasswordNew"
                                            type="password" value="">
                                        <span>afficher</span>
                                    </div>
                                    <div>Min. 8 caractères, y compris les lettres, chiffres et caractères spéciaux</div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="Data_PasswordConfirm">Confirmer le mot de
                                        passe</label>
                                    <div>
                                        <input class="form-control" id="Data_PasswordConfirm"
                                            name="Data.PasswordConfirm" type="password" value="">
                                        <span>afficher</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input class="form-control" id="Data_TwoFactor" name="Data.TwoFactor"
                                            type="checkbox">
                                        Activer l'authentification à 2 facteurs (E-Mail)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button type="submit">Enregistrer les modifications</button>
                                </div>
                            </section>
                        </form>
                    </m-form>
                </section>
            </div>
            <div class="sidebar">
                <a-migrospro-sidebar>
                    <h3>Informations sur votre compte</h3>
                    <p><strong>Nr de compte client</strong></p>
                    <p>9900000000</p>
                    <p><strong>Raison sociale</strong></p>
                    <p>FCM (Migros-Genossenschafts-Bund)</p>
                    <p><strong>Secteur</strong></p>
                    <p>Activités spécialisées, scientifiques, techniques</p>
                    <p><strong>Adresse</strong></p>
                    <p>Placeholder 123, Genève - 1200</p>
                    <p><strong>Type</strong></p>
                    <p>Enterprise</p>
                    <p><strong>Nr IDE (Registre du Commerce)</strong></p>
                    <p>CHE1111111111</p>
                    <p><strong>Taille</strong></p>
                    <p>+ de 500</p>
                </a-migrospro-sidebar>
            </div>
        </o-migrospro-request-form>
        <a-migrospro-spacer></a-migrospro-spacer>
    </section>
</m-tabs>