<style>
    :host {
        --content-width: 55%;
    }
</style>

<!-- <h2>Ma demande de devis</h2>
<m-checkout request-event-name="request-active-order" answer-event-name="list-basket" namespace="checkout-default-"
    is-logged-in="true">
</m-checkout> -->

<!-- =============== FORM START ===============-->
<o-migrospro-request-form 
    action-submit="https://testadmin.migrospro.ch/umbraco/api/MigrosProOrderApi/OrderCheckoutSubmit" 
    action-save-for-later="https://testadmin.migrospro.ch/umbraco/api/MigrosProOrderApi/AddToOrder%27"
>
    <m-form role="form">
        <form enctype="multipart/form-data" method="post" role="form">
            <section>
                <h3>Votre demande sur mesure</h3>
                <p>Organiser un évènement, approvisionner votre économat, récompenser vos
                    collaborateurs ou vos clients, passer une commande spéciale...Indiquez ici les besoins de votre
                    entreprise, nous vous répondons de manière personnalisée:</p>
                <div>
                    <textarea name="request" id="request" cols="30" rows="10" placeholder="..."></textarea>
                </div>
                <p><small>Si l'adresse est différente, veuillez l'indiquer dans le champ de texte.</small></p>

                <a-migrospro-spacer height="2rem"></a-migrospro-spacer>

                <h3>Joindre un fichier pour détailler votre commande</h3>
                <div>
                    <div>
                        <span class="type-file-label">&nbsp;Choisissez un fichier...</span>
                        <a-icon-mdx icon-name="ShareIos" size="1.5em"></a-icon-mdx>
                    </div>
                    <input multiple type="file" value="file" remove-file-title="Datei entfernen" />
                </div>

                <a-migrospro-spacer height="2rem"></a-migrospro-spacer>

                <h3>Informations sur votre devis</h3>
                <p>Mode de livraison souhaité *</p>

                <div class="form-radio-group-vertical">
                    <input type="radio" name="delivery" id="delivery-one" value="1" />
                    <label for="delivery-one">Retrait en magasin (gratuit)</label>

                    <select name="delivery" id="delivery-select" required>
                        <option value="">Sélectionner</option>
                        <option value="1">Livraison</option>
                        <option value="2">Retrait en magasin</option>
                    </select>
  
                    <input type="radio" name="delivery" id="delivery-two" value="2" />
                    <label for="delivery-two">Livraison (frais de livraison)</label>

                    <label for="delivery-three">Autres adresses de livraison</label>
                    <input type="radio" name="delivery" id="delivery-three" value="3" />

                    <address>
                        <label for="different-name">Autre nom *</label>
                        <input type="text" name="name" id="different-name" required />

                        <a-migrospro-spacer height="1rem"></a-migrospro-spacer>

                        <label for="different-address-line-1">Autre address line 1 *</label>
                        <input type="text" name="different-address-line-1" id="different-address-line-1" required />

                        <a-migrospro-spacer height="1rem"></a-migrospro-spacer>

                        <label for="different-address-line-2">Autre address line 2</label>
                        <input type="text" name="different-address-line-2" id="different-address-line-2" required />

                        <a-migrospro-spacer height="1rem"></a-migrospro-spacer>

                        <label for="location">Autre localité *</label>
                        <select name="location" id="location" required>
                            <option value="" selected disabled>Sélectionner</option>
                            <option value="1">1200 Genève</option>
                            <option value="2">1201 Genève</option>
                            <option value="3">1202 Genève</option>
                            <option value="4">1203 Genève</option>
                            <option value="5">1204 Genève</option>
                            <option value="6">1205 Genève</option>
                            <option value="7">1206 Genève</option>
                            <option value="8">1207 Genève</option>
                            <option value="9">1208 Genève</option>
                            <option value="10">1209 Genève</option>
                            <option value="11">1211 Genève 1</option>
                            <option value="12">1211 Genève 3</option>
                            <option value="13">1211 Genève 4</option>
                            <option value="14">1211 Genève 5</option>
                            <option value="15">1211 Genève 6</option>
                            <option value="16">1211 Genève 7</option>
                            <option value="17">1211 Genève 8</option>
                            <option value="18">1211 Genève 10</option>
                            <option value="19">1211 Genève 11</option>
                            <option value="20">1211 Genève 12</option>
                            <option value="21">1211 Genève 13</option>
                            <option value="22">1211 Genève 14</option>
                            <option value="23">1211 Genève 17</option>
                            <option value="24">1211 Genève 19</option>
                            <option value="25">1211 Genève 20</option>
                            <option value="26">1211 Genève 21</option>
                            <option value="27">1211 Genève 22</option>
                            <option value="28">1211 Genève 23</option>
                            <option value="29">1211 Genève 26</option>
                            <option value="30">1211 Genève 27</option>
                            <option value="31">1211 Genève 28</option>
                            <option value="32">1211 Genève 70</option>
                            <option value="33">1211 Genève 71 CS CP</option>
                            <option value="34">1211 Genève 73</option>
                            <option value="35">1211 Genève 84 Votations</option>
                            <option value="36">1212 Grand-Lancy</option>
                            <option value="37">1212 Grand-Lanc 1</option>
                            <option value="38">1213 Onex</option>
                            <option value="39">1213 Petit-Lancy</option>
                            <option value="40">1213 Petit-Lancy 1</option>
                            <option value="41">1214 Vernier</option>
                            <option value="42">1215 Genève 15 Aéroport</option>
                            <option value="43">1216 Cointrin</option>
                            <option value="44">1217 Meyrin</option>
                            <option value="45">1217 Meyrin 1</option>
                            <option value="46">1217 Meyrin 2</option>
                            <option value="47">1218 Le Grand-Saconnex</option>
                            <option value="48">1219 Aïre</option>
                            <option value="49">1219 Châtelaine</option>
                            <option value="50">1219 Le Lignon</option>
                            <option value="51">1220 Les Avanchets</option>
                            <option value="52">1222 Vésenaz</option>
                            <option value="53">1223 1223 Cologny</option>
                            <option value="54">1224 Chêne-Bougeries</option>
                            <option value="55">1225 Chêne-Bourg</option>
                            <option value="56">1226 Thônex</option>
                            <option value="57">1227 Carouge GE</option>
                            <option value="58">1227 Les Acacias</option>
                            <option value="59">1228 Plan-les-Ouates</option>
                            <option value="60">1231 Conches</option>
                            <option value="61">1232 Confignon</option>
                            <option value="62">1233 Bernex</option>
                            <option value="63">1234 Vessy</option>
                            <option value="64">1236 Cartigny</option>
                            <option value="65">1237 Avully</option>
                            <option value="66">1239 Collex</option>
                            <option value="67">1240 Genève</option>
                            <option value="68">1241 Puplinge</option>
                            <option value="69">1242 Satigny</option>
                            <option value="70">1243 Presinge</option>
                            <option value="71">1244 Choulex</option>
                            <option value="72">1245 Collonge-Bellerive</option>
                            <option value="73">1246 Corsier GE</option>
                            <option value="74">1247 Anières</option>
                            <option value="75">1248 Hermance</option>
                            <option value="76">1251 Gy</option>
                            <option value="77">1252 Meinier</option>
                            <option value="78">1253 Vandoeuvres</option>
                            <option value="79">1254 Jussy</option>
                            <option value="80">1255 Veyrier</option>
                            <option value="81">1256 Troinex</option>
                            <option value="82">1258 La Croix-de-Rozon1257</option>
                            <option value="83">1258 Perly</option>
                            <option value="84">1281 Russin</option>
                            <option value="85">1283 Dardagny</option>
                            <option value="86">1283 La Plaine</option>
                            <option value="87">1284 Chancy</option>
                            <option value="88">1285 Athenaz (Avusy)</option>
                            <option value="89">1286 Soral</option>
                            <option value="90">1287 Laconnex</option>
                            <option value="91">1288 Aire-la-Ville</option>
                            <option value="92">1289 Genève Services Spéciaux</option>
                            <option value="93">1290 Versoix</option>
                            <option value="94">1292 Chambésy</option>
                            <option value="95">1293 Bellevue</option>
                            <option value="96">1294 Genthod</option>
                            <option value="97">1298 Céligny</option>
                        </select>
                    </address>
                </div>

                <a-migrospro-spacer height="2rem"></a-migrospro-spacer>

                <div>
                    <label for="delivery-date">Date de livraison souhaitée *</label>
                    <input type="date" name="delivery-date" id="delivery-date" required />
                </div>

                <a-migrospro-spacer height="2rem"></a-migrospro-spacer>

                <div>
                    <label for="delivery-order-name">Nom de la commande *</label>
                    <input type="text" name="delivery-order-name" id="delivery-order-name" required />
                </div>

                <div>
                    <label>
                        <input type="checkbox" id="terms-checkbox"> 
                        J'ai lu et j'accepte les <a href="https://www.migrospro.ch/conditions-commerciales-generales-de-migros-pro" target="_blank" alt="">conditions commerciales générales</a> *
                    </label>
                </div> 

                <div>
                    <button type="submit" name="submitType" disabled value="submit">Envoyer la demande de devis</button>
                    <button type="submit" name="submitType" disabled value="saveForLater">Enregistrer en brouillon</button>
                </div>
            </section>
        </form>
    </m-form>
</o-migrospro-request-form>
<a-migrospro-spacer></a-migrospro-spacer>
<!-- =============== FORM END =================-->

<!-- live-server bug workaround: https://github.com/ritwickdey/vscode-live-server/issues/684 - don't use this empty comment in production!!! -->
<!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        <g id="Ebene_3">
            <g>
                <path fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" stroke-miterlimit="10"
                    d=" M31.785,10.047c0,0-0.283-4.306,3.127-4.402" />
                <path fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" stroke-miterlimit="10"
                    d=" M4.062,22.596C2.368,22.596,1,23.853,1,25.412c0,1.323,6.207,16.085,6.207,16.085c1.023,3.557,4.942,6.438,8.754,6.438h17.976 c3.807,0,7.731-2.881,8.751-6.438c0,0,6.312-14.762,6.312-16.085c0-1.559-1.368-2.816-3.062-2.816H4.062z" />
                <line fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" stroke-miterlimit="10" x1="10.517" y1="26.977" x2="10.517"
                    y2="34.328" />
                <line fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" stroke-miterlimit="10" x1="16.312" y1="26.976" x2="16.312"
                    y2="41.834" />
                <line fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" stroke-miterlimit="10" x1="22.104" y1="26.977" x2="22.104"
                    y2="43.711" />
                <line fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" stroke-miterlimit="10" x1="27.896" y1="26.977" x2="27.896"
                    y2="43.711" />
                <line fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" stroke-miterlimit="10" x1="33.689" y1="26.977" x2="33.689"
                    y2="41.834" />
                <line fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" stroke-miterlimit="10" x1="39.485" y1="26.977" x2="39.485"
                    y2="34.328" />
                <line fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" stroke-miterlimit="10" x1="45.895" y1="16.475" x2="25" y2="22.597" />
                <polygon fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" stroke-miterlimit="10"
                    points=" 26.631,5.886 7.131,5.92 21.718,2.065 " />
                <path fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" stroke-miterlimit="10"
                    d=" M7.131,5.92v5.426c0.235-0.07,0.476-0.121,0.733-0.121c1.413,0,2.555,1.156,2.555,2.581c0,1.426-1.142,2.582-2.555,2.582 c-0.258,0-0.498-0.05-0.733-0.122v3.334" />
                <ellipse fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" stroke-miterlimit="10" cx="17.037" cy="11.07" rx="1.418" ry="1.434" />
                <ellipse fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" stroke-miterlimit="10" cx="14.166" cy="17.57" rx="0.728" ry="0.733" />
                <path fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" stroke-miterlimit="10"
                    d=" M20.936,19.52c-0.048-0.503-0.112-1.327-0.112-2.1c0-4.695,4.46-8.414,8.974-8.414c0.612,0,1.215,1.021,1.792,1.148 c0.582-0.126,1.184-1.148,1.796-1.148c3.438,0,6.768,2.156,8.218,5.255" />
            </g>
        </g>
    </ svg> -->
<!-- </div> -->