<style>
    m-migrospro-custom-product-teaser.fullsize {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--content-spacing, 1.143rem);
    }

    div.tileviewRow {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: var(--one-point-five-content-spacing, calc(var(--content-spacing, 1.143rem) * 1.5));
        margin-top: var(--double-content-spacing, calc(var(--content-spacing, 1.143rem) * 1.5));
        margin-bottom: var(--double-content-spacing, calc(var(--content-spacing, 1.143rem) * 1.5));
    }

    hr.mobile {
        display: none;
    }

    @media only screen and (max-width: 767px) {

        m-migrospro-custom-product-teaser.fullsize,
        div.tileviewRow,
        m-migrospro-custom-product-teaser.tileview {
            display: grid;
        }

        m-migrospro-custom-product-teaser.fullsize,
        m-migrospro-custom-product-teaser.tileview {
            row-gap: var(--content-spacing, 1.143rem);
        }

        m-migrospro-custom-product-teaser.fullsize,
        div.tileviewRow {
            grid-template-columns: 1fr;
            column-gap: var(--one-point-five-content-spacing);
            width: 100%;
            margin: 0;
        }

        m-migrospro-custom-product-teaser.tileview {
            margin-top: var(--one-point-five-content-spacing, calc(var(--content-spacing, 1.143rem) * 1.5));
            margin-bottom: var(--one-point-five-content-spacing, calc(var(--content-spacing, 1.143rem) * 1.5));
        }

        hr.mobile {
            display: block;
            width: 100%;
        }
    }
</style>

<h1>tileview/kachelview</h1>

<div class="customProductTeaserContainer">
    <div class='tileviewRow'>

        <m-migrospro-custom-product-teaser class="tileview">
            <div>
                <a-picture namespace="picture-custom-product-teaser-tileview-" defaultSource="../../../../img/migrospro/category-sample1.jpg" alt="bild"></a-picture>
            </div>
            <div class="teaserContent">
                <div>
                    <h2 class="productName">Produkt</h2>
                    <p class="articleNumber"><small>7613561</small></p>
                    <p class="price">CHF 1.95</p>
                </div>
                <div class="bottomContent">
                    <div class="description descriptionTileview">
                        <a-migrospro-tooltip namespace="mpro-tooltip-default-" text-align="center" width="20">
                            <div class="tooltip">
                                <a-icon-mdx icon-name="Info" size="1em" rotate="0"></a-icon-mdx>
                                <span class="tooltip-text tooltip-text-icon"><strong>Référence: 113399118208</strong>

Framboise, crème diplomate et amandes: un délice fruité!

Pavé aux framboise, env. 20-25 personnes, 2700g

Elaboré à Genève. </span>
                            </div>
                        </a-migrospro-tooltip>
                        <p class="description descriptionTileview"><strong>Référence: 113399118208</strong>

Framboise, crème diplomate et amandes: un délice fruité!

Pavé aux framboise, env. 20-25 personnes, 2700g

Elaboré à Genève. </p>
                    </div>
                    <a-button namespace="button-primary-">Zum Warenkorb hinzufügen</a-button>
                </div>
            </div>
        </m-migrospro-custom-product-teaser>

        <hr class="mobile" />

        <m-migrospro-custom-product-teaser class="tileview">
            <div>
                <a-picture namespace="picture-custom-product-teaser-tileview-" defaultSource="../../../../img/products/bread.png" alt="bild"></a-picture>
            </div>
            <div class="teaserContent">
                <div>
                    <h2 class="productName">Produkt</h2>
                    <p class="articleNumber"><small>7613561</small></p>
                    <p class="price">CHF 1.95</p>
                </div>
                <div class="bottomContent">
                    <div class="description descriptionTileview">
                        <a-migrospro-tooltip namespace="mpro-tooltip-default-" text-align="center" width="20">
                            <div class="tooltip">
                                <a-icon-mdx icon-name="Info" size="1em" rotate="0"></a-icon-mdx>
                                <span class="tooltip-text tooltip-text-icon">Beschreibung</span>
                            </div>
                        </a-migrospro-tooltip>
                        <p class="description descriptionTileview">Beschreibung</p>
                    </div>
                    <a-button namespace="button-primary-">Zum Warenkorb hinzufügen</a-button>
                </div>
            </div>
        </m-migrospro-custom-product-teaser>

        <hr class="mobile" />

        <m-migrospro-custom-product-teaser class="tileview">
            <div>
                <a-picture namespace="picture-custom-product-teaser-tileview-" defaultSource="../../../../img/products/Tafelfond_A6_DRUCK.jpg" alt="bild"></a-picture>
            </div>
            <div class="teaserContent">
                <div>
                    <h2 class="productName">Produkt</h2>
                    <p class="articleNumber"><small>7613561</small></p>
                    <p class="price">CHF 1.95</p>
                </div>
                <div class="bottomContent">
                    <div class="description descriptionTileview">
                        <a-migrospro-tooltip namespace="mpro-tooltip-default-" text-align="center" width="20">
                            <div class="tooltip">
                                <a-icon-mdx icon-name="Info" size="1em" rotate="0"></a-icon-mdx>
                                <span class="tooltip-text tooltip-text-icon">Beschreibung</span>
                            </div>
                        </a-migrospro-tooltip>
                        <p class="description descriptionTileview">Beschreibung</p>
                    </div>
                    <a-button namespace="button-primary-">Zum Warenkorb hinzufügen</a-button>
                </div>
            </div>
        </m-migrospro-custom-product-teaser>

    </div>

    <hr />

    <div class='tileviewRow'>

        <m-migrospro-custom-product-teaser class="tileview">
            <div>
                <!-- <img class="imageTileview" src="../../../../img/products/bread.png" alt="bild"></img> -->
                <a-picture namespace="picture-custom-product-teaser-tileview-" defaultSource="../../../../img/products/bread.png" alt="bild"></a-picture>
            </div>
            <div class="teaserContent">
                <div>
                    <h2 class="productName">Produkt</h2>
                    <p class="articleNumber"><small>7613561</small></p>
                    <p class="price">CHF 1.95</p>
                </div>
                <div class="bottomContent">
                    <div class="description descriptionTileview">
                        <a-migrospro-tooltip namespace="mpro-tooltip-default-" text-align="center" width="20">
                            <div class="tooltip">
                                <a-icon-mdx icon-name="Info" size="1em" rotate="0"></a-icon-mdx>
                                <span class="tooltip-text tooltip-text-icon">Beschreibung</span>
                            </div>
                        </a-migrospro-tooltip>
                        <p class="description descriptionTileview">Beschreibung</p>
                    </div>
                    <a-button namespace="button-primary-">Zum Warenkorb hinzufügen</a-button>
                </div>
            </div>
        </m-migrospro-custom-product-teaser>

    </div>
</div>


<h1>fullsize</h1>

<div class="customProductTeaserContainer">
    <div>
        <m-migrospro-custom-product-teaser class="fullsize">
            <div>
                <!-- <img class="imageFullsize" src="../../../../img/products/Tafelfond_A6_DRUCK.jpg" alt="farbe"></img> -->
                <a-picture namespace="picture-custom-product-teaser-fullsize-" defaultSource="../../../../img/products/Tafelfond_A6_DRUCK.jpg" alt="bild"></a-picture>
            </div>
            <div class="teaserContent">
                <div>
                    <h2 class="productName">CustomProductName</h2>
                    <p class="articleNumber"><small>574662651</small></p>
                    <p class="price">CHF 5757</p>
                </div>
                <div class="bottomContent">
                    <div class="description descriptionFullsize">
                        <a-migrospro-tooltip namespace="mpro-tooltip-default-" text-align="center" width="20">
                            <div class="tooltip">
                                <a-icon-mdx icon-name="Info" size="1em" rotate="0"></a-icon-mdx>
                                <span class="tooltip-text tooltip-text-icon">Beschreibung</span>
                            </div>
                        </a-migrospro-tooltip>
                        <p class="description descriptionFullsize">Beschreibung</p>
                    </div>
                    <a-button namespace="button-primary-">Zum Warenkorb hinzufügen</a-button>
                </div>
            </div>
        </m-migrospro-custom-product-teaser>
    </div>
</div>

<div class="customProductTeaserContainer">
    <div>
        <m-migrospro-custom-product-teaser class="fullsize">
            <div class="teaserContent">
                <div>
                    <h2 class="productName">CustomProductName</h2>
                    <p class="articleNumber"><small>574662651</small></p>
                    <p class="price">CHF 5757</p>
                </div>
                <div class="bottomContent">
                    <div class="description descriptionFullsize">
                        <a-migrospro-tooltip namespace="mpro-tooltip-default-" text-align="center" width="20">
                            <div class="tooltip">
                                <a-icon-mdx icon-name="Info" size="1em" rotate="0"></a-icon-mdx>
                                <span class="tooltip-text tooltip-text-icon">Beschreibung</span>
                            </div>
                        </a-migrospro-tooltip>
                        <p class="description descriptionFullsize">Beschreibung</p>
                    </div>
                    <a-button namespace="button-primary-">Zum Warenkorb hinzufügen</a-button>
                </div>
            </div>
            <div>
                <!-- <img class="imageFullsize" src="../../../../img/migrospro/category-sample1.jpg" alt="bild"></img> -->
                <a-picture namespace="picture-custom-product-teaser-fullsize-" defaultSource="../../../../img/migrospro/category-sample1.jpg" alt="bild"></a-picture>
            </div>
        </m-migrospro-custom-product-teaser>
    </div>
</div>