<a-emotion-pictures namespace="emotion-pictures-with-logo-" height-mobile="15em">
    <a href="#">
        <div>
            <h2 class="bg-color font-size-big font-family-secondary">
                Titel Mood Image
            </h2>
            <h2 class="bg-color font-family-secondary subline">Dein Feedback ist uns wichtig! Ob Komplimente, Fragen,
                Kritik oder Wünsche - wir sind für dich da.</h2>
            <div class="spacer-one">
            </div>
            <a-button hover-on-parent-shadow-root-host namespace="button-primary-" href="/delivery/" target="_self"
                tabindex="0" role="link" data-href="/delivery/">
                Order now
            </a-button>
        </div>
        <a-picture picture-load defaultSource="../../../../img/emotion-pictures/emotion1.jpeg" alt="randomized image">
        </a-picture>
    </a>
</a-emotion-pictures>
<div class="spacer"></div>












<o-body-style>
    <h2 class="title-border">Aktuelle News</h2>
    <o-wrapper namespace="wrapper-teaser-">
        <m-teaser namespace="teaser-tile-" href="/news/#parks" target="">
            <figure>
                <a-picture namespace="picture-teaser-" hover-on-parent-shadow-root-host
                    defaultsource="https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=jpg&quality=80&rnd=132938365587930000"
                    sources="[{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'small','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'medium','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'large','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/3gmp0eu1/news_kbz_400x270px.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938365587930000','size':'extra-large','type':'image/webp'}]"
                    alt="News KBZ 400X270px" picture-load>
                </a-picture>
                <figcaption>
                    <h5>Neue Gastgeber im Restaurant «park’s»</h5>
                    <p>Die Mensa im Kaufmännischen Berufs- und Weiterbildungszentrum St.Gallen (KBZ) präsentiert sich in
                        frischem Anstrich.</p>
                    <a-link namespace="underline-">
                        <a> Mehr erfahren </a>
                    </a-link>
                </figcaption>
            </figure>
        </m-teaser>
        <m-teaser namespace="teaser-tile-" href="/news/#the-valley" target="">
            <figure>
                <a-picture namespace="picture-teaser-" hover-on-parent-shadow-root-host
                    defaultsource="https://www.betriebsrestaurants-migros.ch/media/ukbl2ovf/the-vally-beitrag.jpg?anchor=center&mode=crop&format=jpg&quality=80&rnd=132938361728370000"
                    sources="[{'src':'https://www.betriebsrestaurants-migros.ch/media/ukbl2ovf/the-vally-beitrag.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361728370000','size':'small','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/ukbl2ovf/the-vally-beitrag.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361728370000','size':'medium','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/ukbl2ovf/the-vally-beitrag.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361728370000','size':'large','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/ukbl2ovf/the-vally-beitrag.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361728370000','size':'extra-large','type':'image/webp'}]"
                    alt="The Vally Beitrag" picture-load>
                </a-picture>
                <figcaption>
                    <h5>Mietvertrag für Restaurant "The Valley" unterzeichnet</h5>
                    <p>Die Gemeinschaftsgastronomie der Migros wird ab 2019 die Verpflegung der Mitarbeitenden im The
                        Valley, dem ehemaligen Maggi-Areal in Kemptthal, übernehmen.</p>
                    <a-link namespace="underline-">
                        <a> Mehr erfahren </a>
                    </a-link>
                </figcaption>
            </figure>
        </m-teaser>
        <m-teaser namespace="teaser-tile-" href="/news/#huber-suhner" target="">
            <figure>
                <a-picture namespace="picture-teaser-" hover-on-parent-shadow-root-host
                    defaultsource="https://www.betriebsrestaurants-migros.ch/media/wwcaxrfg/huber-und-suhner.jpg?anchor=center&mode=crop&format=jpg&quality=80&rnd=132938361751130000"
                    sources="[{'src':'https://www.betriebsrestaurants-migros.ch/media/wwcaxrfg/huber-und-suhner.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361751130000','size':'small','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/wwcaxrfg/huber-und-suhner.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361751130000','size':'medium','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/wwcaxrfg/huber-und-suhner.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361751130000','size':'large','type':'image/webp'},{'src':'https://www.betriebsrestaurants-migros.ch/media/wwcaxrfg/huber-und-suhner.jpg?anchor=center&mode=crop&format=webp&quality=80&rnd=132938361751130000','size':'extra-large','type':'image/webp'}]"
                    alt="Huber Und Suhner" picture-load>
                </a-picture>
                <figcaption>
                    <h5>Migros Ostschweiz kocht bald für HUBER+SUHNER</h5>
                    <p>Ab Januar 2019 nimmt die Gemeinschaftsgastronomie der Migros den Betrieb des Personalrestaurants
                        von HUBER+SUHNER in Herisau auf.</p>
                    <a-link namespace="underline-">
                        <a> Mehr erfahren </a>
                    </a-link>
                </figcaption>
            </figure>
        </m-teaser>
    </o-wrapper>
</o-body-style>

