<c-migrospro-tag-manager id="GTM-PNK6BD2V" test-mode="true"></c-migrospro-tag-manager>

<c-migrospro-gtm-event 
  listen-to="on-page-load"
  event-data='{
    "event": "login",
    "action": "login",
    "label": "success"
  }'>
</c-migrospro-gtm-event>

<o-migrospro-login-form>
    <section>
        <div class="login-form">
            <h2>Connexion</h2>
            <p>Connectez-vous avec votre identifiant Migros Pro.</p>
            <m-form role="form">
                <form id="form-login" action="/umbraco/Surface/MigrosProAccount/Login" class="form-horizontal" method="post" role="form">
                    <input id="RedirectUrl" name="RedirectUrl" type="hidden" value="/">
                    <input name="__RequestVerificationToken" type="hidden"
                        value="6pzkApeevErcwdK07jsC-QqtJ5qtfEFL96Zpmh1maEgV47pP2CiOGs_2MCoVVqusDPPrDMCb3GSrbq4CThnWDvjR6Voml2eTqx_NVAEg1ZU1">
                    <div>
                        <div><label for="Email">E-mail</label></div>
                        <div><input id="Email" name="Email" type="email" required></div>
                    </div>
                    <div>
                        <div><label for="Password">Mot de passe</label></div>
                        <div><input id="Password" name="Password" type="password" required></div>
                    </div>
                    <div>
                        <input type="submit" value="Enregistrer" />
                    </div>
                </form>
            </m-form>
        </div>
        <div class="login-sidebar">
            <h3>Pas encore d'utilisateur&nbsp;?</h3>
            <hr>
            <ul>
                <li>
                    <a-picture namespace="picture-store-logo-"
                        defaultSource="../../../../img/migrospro/articles.png" alt="Migros"></a-picture>
                    <p>Les incontournables sélectionnés pour vous parmi +100’000 références</p>
                </li>
                <li>
                    <a-picture namespace="picture-store-logo-"
                        defaultSource="../../../../img/migrospro/money.png" alt="Migros"></a-picture>
                    <p>Paiement à 30 jours</p>
                </li>
                <li>
                    <a-picture namespace="picture-store-logo-"
                        defaultSource="../../../../img/migrospro/sale.png" alt="Migros"></a-picture>
                    <p>Remises sur volumnes annuels</p>
                </li>
                <li>
                    <a-picture namespace="picture-store-logo-"
                        defaultSource="../../../../img/migrospro/worker.png" alt="Migros"></a-picture>
                    <p>Choix de la livraison: achat en magasin ou livraison sur site.</p>
                </li>
                <li>
                    <a-picture namespace="picture-store-logo-"
                        defaultSource="../../../../img/migrospro/certificate.png" alt="Migros"></a-picture>
                    <p>M-Garantie: 2 ans</p>
                </li>
                <li>
                    <a-picture namespace="picture-store-logo-"
                        defaultSource="../../../../img/migrospro/card.png" alt="Migros"></a-picture>
                    <p>Votre carte MIGROS PRO</p>
                </li>
            </ul>
            <hr>
            <a-button namespace="button-primary-" onclick="window.open('https://www.migros.ch/', '_self')" tabindex="0">Créez votre compte
                professionnel</a-button>
        </div>
    </section>
</o-migrospro-login-form>
