<o-body-style min-width="300px" background-color="var(--m-gray-100)">
    <div>
        <p>MENU START</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>sidebar test</p>
        <p>MENU END</p>
    </div>
</o-body-style>