<style>
    :host {
        --path-color-hover: var(--color-hover);
        --path-color: var(--color-tertiary);
    }
</style>
<div>
    <a-breadcrumb icon="../src/icons/chevron_right.svg">
        <ul>
            <li><a href="#">Page d’accueil</a></li>
            <li><span></span></li>
            <li><a href="#">Mobilier & Equipements</a></li>
            <li><span></span></li>
            <li><a href="#">Produit XYZ</a></li>
        </ul>
    </a-breadcrumb>
    <m-system-notification type="info">
        <style>
          :host {
            --svg-color:var(--m-blue-800);
            width: 100%;
            margin: 0 1em;
          }
          :host a {
            color: inherit;
          } 
          :host .description > div {
            display: flex;
            align-items: center;
            gap: 0.5em;
          }
          :host .description svg {
            min-width: var(--svg-min-width, 24px);
            width: var(--svg-min-width, 24px);
          }
        </style>
        <div slot="description">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 56" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" fill="none" part="svg"><path stroke-width="3.5" d="M28 18.667V28m0 9.333h.023M51.333 28c0 12.887-10.446 23.333-23.333 23.333C15.113 51.333 4.667 40.887 4.667 28 4.667 15.113 15.113 4.667 28 4.667c12.887 0 23.333 10.446 23.333 23.333Z"></path></svg>
            <p>Les fonctionnalités d'ajout au panier et de passation de commande ne sont disponibles que pour les utilisateurs enregistrés. Se connecter / Créer son compte <a href="/login">Login/registre</a></p>
        </div>
      </m-system-notification>
    <div class="spacer"></div>
</div>
<o-wrapper align-items="start">
    <style>
        :host {
            --img-max-height: min(400px, 75vh);
            --padding: 2em;
            --h1-font-size: 16px;
            --h1-margin: 0 0 1em 0;
            --h2-font-size: 24px;
            --h2-line-height: normal;
            --h2-margin: 0;
            --p-font-size: 12px;
            --p-margin: 0;
            --padding-first-child:0;
        }

      

        :host .product {
            box-shadow: 0px 0px 12px 0px rgba(51, 51, 51, 0.10);
            border-radius: 8px;
            background: #FFF;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-shrink: 0;
        }

        :host .product>div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 0.5em;
        }

        :host p {
            color: #808080;
        }

        :host m-basket-control {
            margin-top: 1em;
        }

        :host a-tooltip {
            margin-top: 0.5em;
        }
    </style>
    <a-picture defaultSource="../src/img/migrospro/bread.png" alt=alviana-jojobar-hands></a-picture>
    <div class="product">
        <div>
            <h2>5.90</h2>
            <m-favorite namespace="favorite-default-" id="464831100000" answer-event-name="update-favorite"
                add-to-favorite-text="AD" remove-from-favorite-text="RM"></m-favorite>
        </div>
        <h1>Happy Bread IP-SUISSE · Dunkles Brot · Geschnitten</h1>
        <p>350 g 6.86/kg</p>
        <a-tooltip>
            <div class="tooltip">
                <img class="icon-img" src="./../../../../img/migrospro/label-balance.svg" alt="" />
                <span class="tooltip-text tooltip-text-icon">Product mit variablem Gewicht: beim Packen wiegen wir es
                    und verrechnen dir den genauen Preis</span>
            </div>
        </a-tooltip>
        <m-basket-control namespace="basket-control-default-" answer-event-name="update-basket" class="closed">
            <a-button id="remove" namespace="basket-control-default-button-" request-event-name="remove-basket"
                tag='464831100000' label="-"></a-button>
            <input id="464831100000" tag="464831100000" name="quantity" type="number" value="1" min=0 max=9999
                request-event-name="add-basket">
            <a-button id="add" namespace="basket-control-default-button-" request-event-name="add-basket"
                tag='464831100000' label="+"></a-button>
        </m-basket-control>
    </div>
</o-wrapper>
<div class="spacer-two"></div>
<o-body-style background-color="var(--m-gray-100)">
    <div class="spacer-one"></div>
    <h2>Informations sur le produit</h2>
    <p>Toutes les informations sur les produits et les prix sont sans engagement.</p>
</o-body-style>
<div class="spacer-two"></div>
<m-details id="more-info" namespace="details-default-">
    <details>
        <summary>
            <h4>Information produit</h4>
        </summary>
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>Produkttyp</td>
                        <td>Handcreme</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>Bedürfnis / Nutzen</td>
                        <td>Pflege</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>Anwendung</td>
                        <td>Handpflege</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>Vegetarismus</td>
                        <td>vegan</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>Artikelnummer</td>
                        <td>523205500000</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>GTIN</td>
                        <td>4260167187907, 7613312386651</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </details>
</m-details>
<m-details namespace="details-default-">
    <details>
        <summary>
            <h4>Valeurs nutritionnelles</h4>
        </summary>
        <div>
            Example....
        </div>
    </details>
</m-details>
<div class="spacer-two"></div>