/**
  * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
  * NOTE: Within the component don't use any name spacing eg. component header don't use --header-default-color just use --color the namespace can be added by the Shadow as an html attribute
  * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
  * - if a component holds other components you should share the attribute namespace with its children
  */

/* src/css/web-components-toolbox-migros-design-experience/src/css/variablesCustom.css */
/** 
 * mdx base files
 */
 @import "./web-components-toolbox-migros-design-experience/src/css/base.css";

 /** 
  * only import one mdx theme at a time for mapping it at sys.css and comp.css
  */
 @import "./web-components-toolbox-migros-design-experience/node_modules/@migros/mdx-design-tokens/dist/m/light-rem.css";
 /*
 @import "../../node_modules/@migros/mdx-design-tokens/dist/showcase/light-rem.css";
 */
 @import "./web-components-toolbox-migros-design-experience/src/css/sys.css";
 @import "./web-components-toolbox-migros-design-experience/src/css/comp.css";

/* font tracking */
@import url("https://cdn.fonts.net/t/1.css?apiType=css&projectid=8121ed97-d402-4592-a434-4e2ce73b1534");

/* custom migropro fonts */
@font-face {
	font-family: "HelveticaNowText";
	src: url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowTextW05-Regular.woff2") format("woff2"), url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowTextW05-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "HelveticaNowTextBold";
	src: url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowTextW05-Bold.woff2") format("woff2"), url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowTextW05-Bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--any-margin-top-first-child: calc(var(--content-spacing) * 2);
	--border-radius: 0.5rem;
	--button-action-label-margin: 0 0.25rem 0;
	--button-category-background-color-custom: var(--m-gray-100);
	--button-category-background-color-hover-custom: var(--m-gray-300);
	--button-category-color-active-custom: var(--m-white);
	--button-category-color-custom: var(--m-black);
	--button-category-color-hover-custom: var(--m-black);
	--button-category-justify-content-mobile-custom:center;
	--button-category-teaser-background-color-active-custom: transparent;
	--button-category-teaser-color-custom: var(--m-black);
	--button-primary-background-color-disabled: var(--button-primary-background-color-disabled-custom, var(--color-disabled, var(--m-orange-300)));
	--button-primary-background-color-hover-custom: var(--m-orange-600);
	--button-primary-background-color-hover: var(--button-primary-background-color-hover-custom, var(--color-hover, var(--m-orange-800)));
	--button-primary-background-color: var(--button-primary-background-color-custom, var(--color-secondary, var(--m-orange-600)));
	--button-primary-border-color-hover: var(--m-orange-600);
	--button-primary-color-custom: var(--m-white);
	--button-primary-color-hover-custom: var(--m-white);
	--button-primary-color-hover: var(--m-white);
	--button-primary-color: var(--button-primary-color-custom, var(--background-color, var(--m-white)));
	--button-primary-font-family: var(--font-family);
	--button-secondary-background-color-disabled: transparent;
	--button-secondary-background-color-hover: transparent;
	--button-secondary-background-color: transparent;
	--button-secondary-border-color-custom: inherit;
	--button-secondary-border-color-disabled: var(--button-secondary-border-color-disabled-custom, var(--color-disabled, var(--m-orange-300)));
	--button-secondary-border-color-hover: var(--button-secondary-border-color-hover-custom, var(--color-hover, var(--m-orange-800)));
	--button-secondary-border-color: var(--button-secondary-border-color-custom, var(--color-secondary, var(--m-orange-600)));
	--button-secondary-color-disabled: var(--button-secondary-color-disabled-custom, var(--color-disabled, var(--m-orange-300)));
	--button-secondary-color-hover: var(--button-secondary-color-hover-custom, var(--color-hover, var(--m-orange-800)));
	--button-secondary-color: var(--button-secondary-color-custom, var(--color-secondary, var(--m-orange-600)));
	--button-secondary-font-family: var(--font-family);
	--button-secondary-width: 100%;
	--button-tertiary-color-custom: var(--m-black);
	--emotion-pictures-default-img-max-height: 50vh;
	--font-family-bold: HelveticaNowTextBold, HelveticaNowText, Helvetica, Arial, sans-serif;
	--font-family-secondary: var(--font-family-bold);
	--font-family: HelveticaNowText, Helvetica, Arial, sans-serif;
	--footer-default-invert-background-color-custom: var(--m-black);
	--footer-default-invert-orange-background-color-custom: var(--color-secondary);
	--header-default-a-logo-top-mobile-custom: 0.55em;
	--header-default-background-color-custom: var(--m-black);
	--header-default-content-width: 90% !important;
	--header-default-logo-width-custom: max(10em, 12vw);
	--header-default-margin-custom: calc(var(--content-spacing) / 2) 0 var(--content-spacing) 0;
	--menu-color-custom: var(--m-black);
	--modal-default-div-position: absolute;
	--navigation-migrospro-color-custom: var(--m-white);
	--navigation-migrospro-color-second-level-custom: var(--m-black);
	--picture-store-logo-img-max-width: 5em;
	--placeholder-color: var(--m-gray-400);
	--tag-filter-a-button-width-mobile-custom: 49%;
	--user-profile-default-menu-border-radius-custom: 0.5em;
	--user-profile-default-menu-top-custom: 3em;
	--wrapper-text-a-text-decoration-hover: underline;
	--wrapper-text-a-text-decoration: none;
}
